.calculator-wrapper {
  display: flex;
  justify-content: flex-start; /* Alinha a calculadora à esquerda */
  gap: 30px; /* Espaço entre calculadora e histórico */
  align-items: flex-start;
}

.calculator-container {
  width: 300px; 
  border: 2px solid #00ff88;
  border-radius: 10px;
  padding: 15px;
  background: #2c2c2e; /* fundo da calculadora */
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  padding-right: 5px;
  border-radius: 5px;
  border: none;
  color: #fff; /* Texto branco */
  background-color: #2c2c2e; /* Fundo do display */
}

.history {
  width: 200px;
  background: #1c1c1e;
  border: 2px solid #00ff88;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  height: fit-content;
}

.history ul {
  list-style: none;
  padding-left: 0;
}

.history li {
  margin-bottom: 5px;
  font-size: 16px;
}

.buttons button {
  width: 60px;
  height: 60px;
  margin: 3px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background: #00ff88;
  color: #000;
  cursor: pointer;
  transition: transform 0.2s;
}

.buttons button:hover {
  transform: scale(1.1);
  background: #00a75f;
}

body {
  font-family: Arial, sans-serif;
  background: url('bg-desktop.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 20px;
}
